In [1]:
#Import basic packages
import os
import numpy as np
import pandas as pd
import csv
import regex as re

In [2]:
#import organizations.csv
org_df = pd.read_csv(R"d:\\msc-project\data\bulk_export_122020\organizations.csv",encoding='utf-8')

In [3]:
#check column name for organisation
org_df.columns

Index(['uuid', 'name', 'type', 'permalink', 'cb_url', 'rank', 'created_at',
       'updated_at', 'legal_name', 'roles', 'domain', 'homepage_url',
       'country_code', 'state_code', 'region', 'city', 'address',
       'postal_code', 'status', 'short_description', 'category_list',
       'category_groups_list', 'num_funding_rounds', 'total_funding_usd',
       'total_funding', 'total_funding_currency_code', 'founded_on',
       'last_funding_on', 'closed_on', 'employee_count', 'email', 'phone',
       'facebook_url', 'linkedin_url', 'twitter_url', 'logo_url', 'alias1',
       'alias2', 'alias3', 'primary_role', 'num_exits'],
      dtype='object')

In [4]:
org_df.head(2)

,uuid,name,type,permalink,cb_url,rank,created_at,updated_at,legal_name,roles,...,phone,facebook_url,linkedin_url,twitter_url,logo_url,alias1,alias2,alias3,primary_role,num_exits
0,e1393508-30ea-8a36-3f96-dd3226033abd,Wetpaint,organization,wetpaint,https://www.crunchbase.com/organization/wetpaint,131437.0,2007-05-25 13:51:27,2019-06-24 22:19:25,NaN,company,...,206-859-6300,https://www.facebook.com/Wetpaint,https://www.linkedin.com/company/wetpaint,https://twitter.com/wetpainttv,https://res.cloudinary.com/crunchbase-producti...,NaN,NaN,NaN,company,NaN
1,bf4d7b0e-b34d-2fd8-d292-6049c4f7efc7,Zoho,organization,zoho,https://www.crunchbase.com/organization/zoho,7682.0,2007-05-26 02:30:28,2018-10-27 00:29:49,NaN,"investor,company",...,NaN,http://www.facebook.com/zoho,http://www.linkedin.com/company/zoho-corporati...,http://twitter.com/zoho,https://res.cloudinary.com/crunchbase-producti...,NaN,NaN,NaN,company,1.0

In [5]:
#Show the value of NaN for every colum
org_df.isnull().sum(axis = 0)

uuid                                 0
name                                14
type                                 0
permalink                            7
cb_url                               6
rank                               134
created_at                           0
updated_at                           0
legal_name                     1035917
roles                             8873
domain                           79212
homepage_url                     79211
country_code                    191226
state_code                      761292
region                          191226
city                            191226
address                         654274
postal_code                     684663
status                               0
short_description                  118
category_list                    78059
category_groups_list             78059
num_funding_rounds             1024489
total_funding_usd              1075897
total_funding                  1075897
total_funding_currency_code    1075897
founded_on                      260307
last_funding_on                1024500
closed_on                      1202566
employee_count                       0
email                           462846
phone                           405981
facebook_url                    575710
linkedin_url                    646209
twitter_url                     631355
logo_url                        189098
alias1                         1032827
alias2                         1183539
alias3                         1202240
primary_role                         0
num_exits                      1198771
dtype: int64

In [6]:
#Delete unecessary columns
org_df_v1 = org_df.drop (columns = ['type', 'permalink', 'cb_url', 'rank', 'created_at',
                                    'updated_at','roles', 'domain','alias1',
                                    'alias2', 'alias3'])

In [7]:
org_df_v1.columns

Index(['uuid', 'name', 'legal_name', 'homepage_url', 'country_code',
       'state_code', 'region', 'city', 'address', 'postal_code', 'status',
       'short_description', 'category_list', 'category_groups_list',
       'num_funding_rounds', 'total_funding_usd', 'total_funding',
       'total_funding_currency_code', 'founded_on', 'last_funding_on',
       'closed_on', 'employee_count', 'email', 'phone', 'facebook_url',
       'linkedin_url', 'twitter_url', 'logo_url', 'primary_role', 'num_exits'],
      dtype='object')

In [8]:
org_df_v1['num_funding_rounds'].unique()

array([ 3., nan,  6., 17.,  1., 11.,  4.,  5.,  2.,  7., 16.,  8., 14.,
       10.,  9., 12., 13., 15., 35., 21., 23., 19., 20., 18., 29., 22.,
       31., 24., 27., 25.,  0., 41., 34., 30., 36.])

In [9]:
#delete data with no founded date, country code, and category
org_df_v2 = org_df_v1.dropna (subset=['founded_on','country_code','category_list','category_groups_list','num_funding_rounds'])

In [10]:
len(org_df_v2)

179275

In [11]:
org_df_v2.rename(columns = {'uuid':'org_uuid'},inplace=True)

C:\Users\Abdul Rahim Ab Ghani\miniconda3\lib\site-packages\pandas\core\frame.py:4449: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [12]:
#filter only company data
org_df_v3 = org_df_v2[org_df_v2.primary_role == 'company']

In [13]:
org_df_v3.columns

Index(['org_uuid', 'name', 'legal_name', 'homepage_url', 'country_code',
       'state_code', 'region', 'city', 'address', 'postal_code', 'status',
       'short_description', 'category_list', 'category_groups_list',
       'num_funding_rounds', 'total_funding_usd', 'total_funding',
       'total_funding_currency_code', 'founded_on', 'last_funding_on',
       'closed_on', 'employee_count', 'email', 'phone', 'facebook_url',
       'linkedin_url', 'twitter_url', 'logo_url', 'primary_role', 'num_exits'],
      dtype='object')

In [14]:
len(org_df_v3)

176985

# Organization Description

In [15]:
#import organisations description.csv
org_desc_df = pd.read_csv(R"d:/msc-project/data/bulk_export_122020/organization_descriptions.csv",encoding='utf-8')

In [16]:
org_desc_df.columns

Index(['uuid', 'name', 'type', 'permalink', 'cb_url', 'rank', 'created_at',
       'updated_at', 'description'],
      dtype='object')

In [17]:
#drop uneseccary columns
org_desc_df_v1 = org_desc_df.drop(columns = ['name', 'type', 'permalink', 'cb_url', 'rank', 'created_at',
       'updated_at'])

In [18]:
org_desc_df_v1.columns

Index(['uuid', 'description'], dtype='object')

In [19]:
org_desc_df_v1.rename(columns={'uuid':'org_uuid'},inplace=True)

In [20]:
org_desc_df_v1.columns

Index(['org_uuid', 'description'], dtype='object')

In [21]:
#combine with main org file
main_org_df_v1 = pd.merge (org_df_v3,org_desc_df_v1,
                         how='left',
                         on='org_uuid'
                         )

In [22]:
main_org_df_v1.columns

Index(['org_uuid', 'name', 'legal_name', 'homepage_url', 'country_code',
       'state_code', 'region', 'city', 'address', 'postal_code', 'status',
       'short_description', 'category_list', 'category_groups_list',
       'num_funding_rounds', 'total_funding_usd', 'total_funding',
       'total_funding_currency_code', 'founded_on', 'last_funding_on',
       'closed_on', 'employee_count', 'email', 'phone', 'facebook_url',
       'linkedin_url', 'twitter_url', 'logo_url', 'primary_role', 'num_exits',
       'description'],
      dtype='object')

In [23]:
len(main_org_df_v1)

176985

# IPOs

In [24]:
#import ipos.csv
ipos_df = pd.read_csv(R"d:\\msc-project\data\bulk_export_122020\ipos.csv",encoding='utf-8')

In [25]:
ipos_df.columns

Index(['uuid', 'name', 'type', 'permalink', 'cb_url', 'rank', 'created_at',
       'updated_at', 'org_uuid', 'org_name', 'org_cb_url', 'country_code',
       'state_code', 'region', 'city', 'stock_exchange_symbol', 'stock_symbol',
       'went_public_on', 'share_price_usd', 'share_price',
       'share_price_currency_code', 'valuation_price_usd', 'valuation_price',
       'valuation_price_currency_code', 'money_raised_usd', 'money_raised',
       'money_raised_currency_code'],
      dtype='object')

In [26]:
#drop unecessary columns
ipos_df_v1 = ipos_df.drop (columns = ['name','type','permalink', 'cb_url', 'rank', 'created_at',
       'updated_at','org_name', 'org_cb_url', 'country_code',
       'state_code', 'region', 'city'])

In [27]:
ipos_df_v1.columns

Index(['uuid', 'org_uuid', 'stock_exchange_symbol', 'stock_symbol',
       'went_public_on', 'share_price_usd', 'share_price',
       'share_price_currency_code', 'valuation_price_usd', 'valuation_price',
       'valuation_price_currency_code', 'money_raised_usd', 'money_raised',
       'money_raised_currency_code'],
      dtype='object')

In [28]:
ipos_df_v1.rename (columns = {'uuid':'ipo_uuid',},inplace=True)

In [29]:
#Show the value of NaN for every colum
ipos_df_v1.isnull().sum(axis = 0)

ipo_uuid                             0
org_uuid                             0
stock_exchange_symbol               60
stock_symbol                        21
went_public_on                       0
share_price_usd                  30694
share_price                      30694
share_price_currency_code        30694
valuation_price_usd              32946
valuation_price                  32946
valuation_price_currency_code    32946
money_raised_usd                 30171
money_raised                     30171
money_raised_currency_code       30171
dtype: int64

In [30]:
ipos_df_v1.columns

Index(['ipo_uuid', 'org_uuid', 'stock_exchange_symbol', 'stock_symbol',
       'went_public_on', 'share_price_usd', 'share_price',
       'share_price_currency_code', 'valuation_price_usd', 'valuation_price',
       'valuation_price_currency_code', 'money_raised_usd', 'money_raised',
       'money_raised_currency_code'],
      dtype='object')

In [31]:
#drop duplicates and only keep the first IPO
ipos_df_v1.sort_values(by = ['org_uuid','went_public_on'],inplace=True,na_position='last',ignore_index=True)
ipos_df_v2 = ipos_df_v1.drop_duplicates(subset=['org_uuid'],keep='first')

In [32]:
len(ipos_df_v1)

35109

In [33]:
len(ipos_df_v2)

34276

In [34]:
main_org_df_v2 = pd.merge(main_org_df_v1,ipos_df_v2,
                        how = 'left',
                         on='org_uuid')

In [35]:
len(main_org_df_v1)

176985

In [36]:
len(main_org_df_v2)

176985

In [37]:
main_org_df_v2.columns

Index(['org_uuid', 'name', 'legal_name', 'homepage_url', 'country_code',
       'state_code', 'region', 'city', 'address', 'postal_code', 'status',
       'short_description', 'category_list', 'category_groups_list',
       'num_funding_rounds', 'total_funding_usd', 'total_funding',
       'total_funding_currency_code', 'founded_on', 'last_funding_on',
       'closed_on', 'employee_count', 'email', 'phone', 'facebook_url',
       'linkedin_url', 'twitter_url', 'logo_url', 'primary_role', 'num_exits',
       'description', 'ipo_uuid', 'stock_exchange_symbol', 'stock_symbol',
       'went_public_on', 'share_price_usd', 'share_price',
       'share_price_currency_code', 'valuation_price_usd', 'valuation_price',
       'valuation_price_currency_code', 'money_raised_usd', 'money_raised',
       'money_raised_currency_code'],
      dtype='object')

# Acquisitions

In [38]:
#import acquisitions.csv
acquisitions_df = pd.read_csv(R"d:\\msc-project\data\bulk_export_122020\acquisitions.csv",encoding='utf-8')

In [39]:
acquisitions_df.columns

Index(['uuid', 'name', 'type', 'permalink', 'cb_url', 'rank', 'created_at',
       'updated_at', 'acquiree_uuid', 'acquiree_name', 'acquiree_cb_url',
       'acquiree_country_code', 'acquiree_state_code', 'acquiree_region',
       'acquiree_city', 'acquirer_uuid', 'acquirer_name', 'acquirer_cb_url',
       'acquirer_country_code', 'acquirer_state_code', 'acquirer_region',
       'acquirer_city', 'acquisition_type', 'acquired_on', 'price_usd',
       'price', 'price_currency_code'],
      dtype='object')

In [40]:
#drop unessary columns
acquisitions_df_v1 = acquisitions_df.drop(columns = ['name', 'type', 'permalink', 'cb_url', 'rank', 'created_at','updated_at',
        'acquiree_name', 'acquiree_cb_url','acquiree_country_code', 'acquiree_state_code', 'acquiree_region','acquiree_city','acquirer_cb_url'])

In [41]:
acquisitions_df_v1.columns

Index(['uuid', 'acquiree_uuid', 'acquirer_uuid', 'acquirer_name',
       'acquirer_country_code', 'acquirer_state_code', 'acquirer_region',
       'acquirer_city', 'acquisition_type', 'acquired_on', 'price_usd',
       'price', 'price_currency_code'],
      dtype='object')

In [42]:
acquisitions_df_v1.rename (columns = {'uuid':'acquisition_uuid','acquiree_uuid':'org_uuid'},inplace=True)

In [43]:
acquisitions_df_v1.columns

Index(['acquisition_uuid', 'org_uuid', 'acquirer_uuid', 'acquirer_name',
       'acquirer_country_code', 'acquirer_state_code', 'acquirer_region',
       'acquirer_city', 'acquisition_type', 'acquired_on', 'price_usd',
       'price', 'price_currency_code'],
      dtype='object')

In [44]:
#drop duplicate acquisition to keep only the first acquisition
acquisitions_df_v1.sort_values(by=['org_uuid','acquired_on'],na_position='last',inplace=True)
acquisitions_df_v2 = acquisitions_df_v1.drop_duplicates(subset = ['org_uuid'],keep='first')

In [45]:
acquisitions_df_v2.acquisition_type.unique()

array(['lbo', nan, 'acquisition', 'management_buyout', 'merge',
       'acquihire'], dtype=object)

In [46]:
len(acquisitions_df_v2)

102447

In [47]:
#Show the value of NaN for every colum
acquisitions_df_v2.isnull().sum(axis = 0)

acquisition_uuid             0
org_uuid                     0
acquirer_uuid                0
acquirer_name                0
acquirer_country_code      979
acquirer_state_code      43094
acquirer_region            979
acquirer_city              979
acquisition_type          9206
acquired_on                  0
price_usd                85306
price                    85306
price_currency_code      85306
dtype: int64

In [48]:
acquisitions_df_v3 = acquisitions_df_v2.dropna(subset=['acquisition_type'])

In [49]:
acquisitions_df_v3.isnull().sum(axis=0)

acquisition_uuid             0
org_uuid                     0
acquirer_uuid                0
acquirer_name                0
acquirer_country_code      819
acquirer_state_code      40895
acquirer_region            819
acquirer_city              819
acquisition_type             0
acquired_on                  0
price_usd                76833
price                    76833
price_currency_code      76833
dtype: int64

In [50]:
len(acquisitions_df_v3)

93241

In [51]:
len(acquisitions_df)

109215

In [52]:
main_org_df_v3 = pd.merge(main_org_df_v2,acquisitions_df_v3,
                        on='org_uuid'
                        ,how = 'left')

In [53]:
len(main_org_df_v2)

176985

In [54]:
len(main_org_df_v3)

176985

In [55]:
main_org_df_v3.columns

Index(['org_uuid', 'name', 'legal_name', 'homepage_url', 'country_code',
       'state_code', 'region', 'city', 'address', 'postal_code', 'status',
       'short_description', 'category_list', 'category_groups_list',
       'num_funding_rounds', 'total_funding_usd', 'total_funding',
       'total_funding_currency_code', 'founded_on', 'last_funding_on',
       'closed_on', 'employee_count', 'email', 'phone', 'facebook_url',
       'linkedin_url', 'twitter_url', 'logo_url', 'primary_role', 'num_exits',
       'description', 'ipo_uuid', 'stock_exchange_symbol', 'stock_symbol',
       'went_public_on', 'share_price_usd', 'share_price',
       'share_price_currency_code', 'valuation_price_usd', 'valuation_price',
       'valuation_price_currency_code', 'money_raised_usd', 'money_raised',
       'money_raised_currency_code', 'acquisition_uuid', 'acquirer_uuid',
       'acquirer_name', 'acquirer_country_code', 'acquirer_state_code',
       'acquirer_region', 'acquirer_city', 'acquisition_type', 'acquired_on',
       'price_usd', 'price', 'price_currency_code'],
      dtype='object')

# Parent Organisation

In [56]:
#import parents organisation.csv
parents_df = pd.read_csv(R"d:/msc-project/data/bulk_export_122020/org_parents.csv",encoding='utf-8')

In [57]:
parents_df.columns

Index(['uuid', 'name', 'type', 'permalink', 'cb_url', 'rank', 'created_at',
       'updated_at', 'parent_uuid', 'parent_name'],
      dtype='object')

In [58]:
parents_df_v1 = parents_df.drop(columns=['name', 'type', 'permalink', 'cb_url', 'rank', 'created_at',
               'updated_at'])

In [59]:
parents_df_v1.columns

Index(['uuid', 'parent_uuid', 'parent_name'], dtype='object')

In [60]:
parents_df_v1.rename(columns={'uuid':'org_uuid'},inplace=True)

In [61]:
parents_df_v1.columns

Index(['org_uuid', 'parent_uuid', 'parent_name'], dtype='object')

In [62]:
parents_df_v1.isnull().sum(axis=0)

org_uuid       0
parent_uuid    0
parent_name    0
dtype: int64

In [63]:
main_org_df_v4 = pd.merge(main_org_df_v3,parents_df_v1,
                         on = 'org_uuid',
                         how = 'left')

In [64]:
len(main_org_df_v3)

176985

In [65]:
len(main_org_df_v4)

176985

In [66]:
main_org_df_v4.columns

Index(['org_uuid', 'name', 'legal_name', 'homepage_url', 'country_code',
       'state_code', 'region', 'city', 'address', 'postal_code', 'status',
       'short_description', 'category_list', 'category_groups_list',
       'num_funding_rounds', 'total_funding_usd', 'total_funding',
       'total_funding_currency_code', 'founded_on', 'last_funding_on',
       'closed_on', 'employee_count', 'email', 'phone', 'facebook_url',
       'linkedin_url', 'twitter_url', 'logo_url', 'primary_role', 'num_exits',
       'description', 'ipo_uuid', 'stock_exchange_symbol', 'stock_symbol',
       'went_public_on', 'share_price_usd', 'share_price',
       'share_price_currency_code', 'valuation_price_usd', 'valuation_price',
       'valuation_price_currency_code', 'money_raised_usd', 'money_raised',
       'money_raised_currency_code', 'acquisition_uuid', 'acquirer_uuid',
       'acquirer_name', 'acquirer_country_code', 'acquirer_state_code',
       'acquirer_region', 'acquirer_city', 'acquisition_type', 'acquired_on',
       'price_usd', 'price', 'price_currency_code', 'parent_uuid',
       'parent_name'],
      dtype='object')

In [67]:
main_org_df_v4.isnull().sum(axis=0)

org_uuid                              0
name                                  0
legal_name                       121729
homepage_url                       6389
country_code                          0
state_code                        90056
region                                0
city                                  0
address                           50257
postal_code                       56895
status                                0
short_description                     2
category_list                         0
category_groups_list                  0
num_funding_rounds                    0
total_funding_usd                 43649
total_funding                     43649
total_funding_currency_code       43649
founded_on                            0
last_funding_on                       9
closed_on                        170785
employee_count                        0
email                             52692
phone                             63762
facebook_url                      76415
linkedin_url                      64861
twitter_url                       71719
logo_url                           4148
primary_role                          0
num_exits                        175922
description                       20271
ipo_uuid                         169467
stock_exchange_symbol            169479
stock_symbol                     169477
went_public_on                   169467
share_price_usd                  175007
share_price                      175007
share_price_currency_code        175007
valuation_price_usd              175608
valuation_price                  175608
valuation_price_currency_code    175608
money_raised_usd                 174698
money_raised                     174698
money_raised_currency_code       174698
acquisition_uuid                 158823
acquirer_uuid                    158823
acquirer_name                    158823
acquirer_country_code            158965
acquirer_state_code              165196
acquirer_region                  158965
acquirer_city                    158965
acquisition_type                 158823
acquired_on                      158823
price_usd                        172449
price                            172449
price_currency_code              172449
parent_uuid                      175066
parent_name                      175066
dtype: int64

In [68]:
main_org_df_v4.groupby('status')['org_uuid'].nunique()

status
acquired      19757
closed        10276
ipo            6143
operating    140809
Name: org_uuid, dtype: int64

In [69]:
#save preprocessed file
#organisations + organisations_description + ipo + acquisition + parent_organisation
main_org_df_v4.to_csv(R"d:/msc-project/data/pre-processed/organisations_preprocessed.csv",encoding='utf-8',index=False)

# Funding Rounds

In [70]:
#import funding_rounds
funding_df = pd.read_csv(R"d:/msc-project/data/bulk_export_122020/funding_rounds.csv",encoding='utf-8')

In [71]:
funding_df.columns

Index(['uuid', 'name', 'type', 'permalink', 'cb_url', 'rank', 'created_at',
       'updated_at', 'country_code', 'state_code', 'region', 'city',
       'investment_type', 'announced_on', 'raised_amount_usd', 'raised_amount',
       'raised_amount_currency_code', 'post_money_valuation_usd',
       'post_money_valuation', 'post_money_valuation_currency_code',
       'investor_count', 'org_uuid', 'org_name', 'lead_investor_uuids'],
      dtype='object')

In [72]:
#drop unecessary columns
funding_df_v1 = funding_df.drop(columns=['type','permalink', 'cb_url', 'rank', 'created_at',
                'updated_at'])

In [73]:
funding_df_v1.columns

Index(['uuid', 'name', 'country_code', 'state_code', 'region', 'city',
       'investment_type', 'announced_on', 'raised_amount_usd', 'raised_amount',
       'raised_amount_currency_code', 'post_money_valuation_usd',
       'post_money_valuation', 'post_money_valuation_currency_code',
       'investor_count', 'org_uuid', 'org_name', 'lead_investor_uuids'],
      dtype='object')

In [74]:
funding_df_v1.investment_type.unique()

array(['angel', 'series_a', 'series_b', 'seed', 'series_c', 'series_d',
       'series_unknown', 'debt_financing', 'series_e', 'private_equity',
       'series_f', 'pre_seed', 'undisclosed', 'grant', 'convertible_note',
       'post_ipo_equity', 'post_ipo_debt', 'non_equity_assistance',
       'corporate_round', 'series_i', 'series_g', 'secondary_market',
       'initial_coin_offering', 'series_h', 'product_crowdfunding',
       'equity_crowdfunding', 'post_ipo_secondary', 'series_j'],
      dtype=object)

In [75]:
funding_df_v1.rename(columns={'uuid':'funding_round_uuid'},inplace=True)

In [76]:
funding_df_v1.columns

Index(['funding_round_uuid', 'name', 'country_code', 'state_code', 'region',
       'city', 'investment_type', 'announced_on', 'raised_amount_usd',
       'raised_amount', 'raised_amount_currency_code',
       'post_money_valuation_usd', 'post_money_valuation',
       'post_money_valuation_currency_code', 'investor_count', 'org_uuid',
       'org_name', 'lead_investor_uuids'],
      dtype='object')

In [77]:
#check for NaN value
funding_df_v1.isnull().sum(axis=0)

funding_round_uuid                         0
name                                       0
country_code                            4237
state_code                            172992
region                                  4237
city                                    4237
investment_type                            0
announced_on                               0
raised_amount_usd                      98961
raised_amount                          98961
raised_amount_currency_code            98961
post_money_valuation_usd              346299
post_money_valuation                  346299
post_money_valuation_currency_code    346299
investor_count                        101823
org_uuid                                   0
org_name                                   2
lead_investor_uuids                   238258
dtype: int64

In [78]:
funding_df_v1.groupby('investment_type')['org_uuid'].nunique()

investment_type
angel                    17074
convertible_note          5942
corporate_round           2865
debt_financing           11095
equity_crowdfunding       5571
grant                    15104
initial_coin_offering      579
non_equity_assistance     5130
post_ipo_debt             1070
post_ipo_equity           3814
post_ipo_secondary          82
pre_seed                 14691
private_equity           10142
product_crowdfunding       893
secondary_market           619
seed                     78970
series_a                 37375
series_b                 18589
series_c                  8683
series_d                  3698
series_e                  1521
series_f                   553
series_g                   185
series_h                    67
series_i                    15
series_j                     6
series_unknown           45102
undisclosed               4691
Name: org_uuid, dtype: int64

In [79]:
#save preprocessed file
funding_df_v1.to_csv(R"d:/msc-project/data/pre-processed/funding_rounds_preprocessed.csv",encoding='utf-8',index=False)

# Investment

In [80]:
#import investment
investments_df = pd.read_csv(R"d:/msc-project/data/bulk_export_122020/investments.csv",encoding='utf-8')

In [81]:
investments_df.columns

Index(['uuid', 'name', 'type', 'permalink', 'cb_url', 'rank', 'created_at',
       'updated_at', 'funding_round_uuid', 'funding_round_name',
       'investor_uuid', 'investor_name', 'investor_type', 'is_lead_investor'],
      dtype='object')

In [82]:
#drop columns
investments_df_v1 = investments_df.drop(columns = ['type', 'permalink', 'cb_url', 'rank', 'created_at',
       'updated_at'])

In [83]:
investments_df_v1.columns

Index(['uuid', 'name', 'funding_round_uuid', 'funding_round_name',
       'investor_uuid', 'investor_name', 'investor_type', 'is_lead_investor'],
      dtype='object')

In [84]:
investments_df_v1.rename(columns={'uuid':'investment_uuid'},inplace=True)

In [85]:
investments_df_v1.columns

Index(['investment_uuid', 'name', 'funding_round_uuid', 'funding_round_name',
       'investor_uuid', 'investor_name', 'investor_type', 'is_lead_investor'],
      dtype='object')

In [86]:
investments_df_v1.isnull().sum(axis=0)

investment_uuid            0
name                       1
funding_round_uuid         1
funding_round_name         1
investor_uuid              0
investor_name              1
investor_type              0
is_lead_investor      283147
dtype: int64

In [87]:
#save preprocessed file
investments_df_v1.to_csv(R"d:/msc-project/data/pre-processed/investments_preprocessed.csv",encoding='utf-8',index=False)

# Investors

In [88]:
#import investors
investors_df = pd.read_csv(R"d:/msc-project/data/bulk_export_122020/investors.csv",encoding='utf-8')

In [89]:
investors_df.columns

Index(['uuid', 'name', 'type', 'permalink', 'cb_url', 'rank', 'created_at',
       'updated_at', 'roles', 'domain', 'country_code', 'state_code', 'region',
       'city', 'investor_types', 'investment_count', 'total_funding_usd',
       'total_funding', 'total_funding_currency_code', 'founded_on',
       'closed_on', 'facebook_url', 'linkedin_url', 'twitter_url', 'logo_url'],
      dtype='object')

In [90]:
investors_df.head(3)

,uuid,name,type,permalink,cb_url,rank,created_at,updated_at,roles,domain,...,investment_count,total_funding_usd,total_funding,total_funding_currency_code,founded_on,closed_on,facebook_url,linkedin_url,twitter_url,logo_url
0,bf4d7b0e-b34d-2fd8-d292-6049c4f7efc7,Zoho,organization,zoho,https://www.crunchbase.com/organization/zoho,7694.0,2007-05-26 02:30:28,2018-10-27 00:29:49,"investor,company",zoho.com,...,6.0,NaN,NaN,NaN,1996-09-15,NaN,http://www.facebook.com/zoho,http://www.linkedin.com/company/zoho-corporati...,http://twitter.com/zoho,https://res.cloudinary.com/crunchbase-producti...
1,f4d5ab44-058b-298b-ea81-380e6e9a8eec,Omidyar Network,organization,omidyar-network,https://www.crunchbase.com/organization/omidya...,1758.0,2007-05-26 03:21:34,2019-06-19 12:17:48,investor,omidyar.com,...,313.0,NaN,NaN,NaN,2004-01-01,NaN,http://www.facebook.com/OmidyarNetwork,http://www.linkedin.com/company/22806,http://twitter.com/OmidyarNetwork,https://res.cloudinary.com/crunchbase-producti...
2,df662812-7f97-0b43-9d3e-12f64f504fbb,Facebook,organization,facebook,https://www.crunchbase.com/organization/facebook,5.0,2007-05-26 04:22:15,2020-10-21 13:53:15,"investor,company",facebook.com,...,32.0,1.612282e+10,1.612282e+10,USD,2004-02-04,NaN,https://www.facebook.com/facebook/,http://www.linkedin.com/company/facebook,https://twitter.com/facebook,https://res.cloudinary.com/crunchbase-producti...

In [91]:
#drop columns
investors_df_v1 = investors_df.drop(columns=['permalink', 'cb_url', 'rank', 'created_at',
       'updated_at', 'roles','domain'])

In [92]:
investors_df_v1.columns

Index(['uuid', 'name', 'type', 'country_code', 'state_code', 'region', 'city',
       'investor_types', 'investment_count', 'total_funding_usd',
       'total_funding', 'total_funding_currency_code', 'founded_on',
       'closed_on', 'facebook_url', 'linkedin_url', 'twitter_url', 'logo_url'],
      dtype='object')

In [93]:
investors_df_v1.rename(columns={'uuid':'investor_uuid'},inplace=True)

In [94]:
investors_df_v1.columns

Index(['investor_uuid', 'name', 'type', 'country_code', 'state_code', 'region',
       'city', 'investor_types', 'investment_count', 'total_funding_usd',
       'total_funding', 'total_funding_currency_code', 'founded_on',
       'closed_on', 'facebook_url', 'linkedin_url', 'twitter_url', 'logo_url'],
      dtype='object')

In [95]:
investors_df_v1.isnull().sum(axis=0)

investor_uuid                       0
name                                2
type                                0
country_code                    53898
state_code                     112472
region                          57935
city                            59582
investor_types                  81201
investment_count                83892
total_funding_usd              162641
total_funding                  162641
total_funding_currency_code    162641
founded_on                     121592
closed_on                      166366
facebook_url                   137548
linkedin_url                    78483
twitter_url                    124010
logo_url                        42484
dtype: int64

In [96]:
#save preprocessed file
investors_df_v1.to_csv(R"d:/msc-project/data/pre-processed/investors_preprocessed.csv",encoding='utf-8',index=False)

# Investment Partner

In [97]:
#import investment partner
investment_partner_df = pd.read_csv(R"d:/msc-project/data/bulk_export_122020/investment_partners.csv",encoding='utf-8')

In [98]:
investment_partner_df.columns

Index(['uuid', 'name', 'type', 'permalink', 'cb_url', 'rank', 'created_at',
       'updated_at', 'funding_round_uuid', 'funding_round_name',
       'investor_uuid', 'investor_name', 'partner_uuid', 'partner_name'],
      dtype='object')

In [99]:
investment_partner_df.head(2)

,uuid,name,type,permalink,cb_url,rank,created_at,updated_at,funding_round_uuid,funding_round_name,investor_uuid,investor_name,partner_uuid,partner_name
0,524986f0-3049-54a4-fa72-f60897a5e61d,Accel investment in Series A - Facebook,investment,accel-invested-in-facebook-series-a--d950d7a5-...,https://www.crunchbase.com/investment/accel-in...,NaN,2007-05-27 06:09:10,2018-02-13 00:52:57,d950d7a5-79ff-fb93-ca87-13386b0e2feb,Series A - Facebook,b08efc27-da40-505a-6f9d-c9e14247bf36,Accel,2d78d1e7-203c-3eb6-bf1b-c51f10e0679b,Jim Breyer
1,524986f0-3049-54a4-fa72-f60897a5e61d,Accel investment in Series A - Facebook,investment,accel-invested-in-facebook-series-a--d950d7a5-...,https://www.crunchbase.com/investment/accel-in...,NaN,2007-05-27 06:09:10,2018-02-13 00:52:57,d950d7a5-79ff-fb93-ca87-13386b0e2feb,Series A - Facebook,b08efc27-da40-505a-6f9d-c9e14247bf36,Accel,eaf6c243-d355-32f3-e23a-2a5fc82e8b34,Kevin Efrusy

In [100]:
#drop unecessary columns
investment_partner_df_v1 = investment_partner_df.drop(columns=['name', 'type', 'permalink', 'cb_url', 'rank', 'created_at',
       'updated_at', 'funding_round_uuid', 'funding_round_name',
       'investor_uuid', 'investor_name'])

In [101]:
investment_partner_df_v1.rename (columns={'uuid':'investment_uuid'},inplace=True)

In [102]:
investment_partner_df_v1.columns

Index(['investment_uuid', 'partner_uuid', 'partner_name'], dtype='object')

In [103]:
#save preprocessed file
investment_partner_df_v1.to_csv(R"d:/msc-project/data/pre-processed/investment_partner_preprocessed.csv",encoding='utf-8',index=False)

# Funds

In [104]:
funds_df = pd.read_csv(R"d:/msc-project/data/bulk_export_122020/funds.csv",encoding='utf-8')

In [105]:
funds_df.columns

Index(['uuid', 'name', 'type', 'permalink', 'cb_url', 'rank', 'created_at',
       'updated_at', 'entity_uuid', 'entity_name', 'entity_type',
       'announced_on', 'raised_amount_usd', 'raised_amount',
       'raised_amount_currency_code'],
      dtype='object')

In [106]:
funds_df.head(2)

,uuid,name,type,permalink,cb_url,rank,created_at,updated_at,entity_uuid,entity_name,entity_type,announced_on,raised_amount_usd,raised_amount,raised_amount_currency_code
0,8190b28a-3c78-0ac4-1e7c-f0b5edce4b2e,DFJ Dragon Second Fund,fund,dfj-dragonfund-raised-dfj-dragon-second-fund--...,https://www.crunchbase.com/fund/dfj-dragonfund...,NaN,2008-12-17 03:07:16,2018-02-12 23:51:25,fe743289-a4aa-a470-00d8-bbe937e0955b,DFJ DragonFund,organization,2008-12-16,300000000.0,300000000.0,USD
1,cbb6644a-eafb-4686-5505-61f32e1c3638,Sequoia Israel Fund IV,fund,sequoia-capital-raised-sequoia-israel-fund-iv-...,https://www.crunchbase.com/fund/sequoia-capita...,NaN,2008-12-18 22:04:42,2018-02-13 00:38:07,0c867fde-2b9a-df10-fdb9-66b74f355f91,Sequoia Capital,organization,2008-12-17,200750000.0,200750000.0,USD

In [107]:
funds_df_v1 = funds_df.drop(columns = ['type', 'permalink', 'cb_url', 'rank', 'created_at',
       'updated_at'])

In [108]:
funds_df_v1.isnull().sum(axis=0)

uuid                              0
name                              0
entity_uuid                       0
entity_name                       0
entity_type                       0
announced_on                    301
raised_amount_usd              2927
raised_amount                  2919
raised_amount_currency_code    2919
dtype: int64

In [109]:
funds_df_v1.rename(columns={'uuid':'fund_uuid','entity_uuid':'org_uuid'},inplace=True)

In [110]:
funds_df_v1.columns

Index(['fund_uuid', 'name', 'org_uuid', 'entity_name', 'entity_type',
       'announced_on', 'raised_amount_usd', 'raised_amount',
       'raised_amount_currency_code'],
      dtype='object')

In [111]:
#save preprocessed file
funds_df_v1.to_csv(R"d:/msc-project/data/pre-processed/funds_preprocessed.csv",encoding='utf-8',index=False)

# Events

In [112]:
#import events.csv
events_df = pd.read_csv(R"d:/msc-project/data/bulk_export_122020/events.csv",encoding='utf-8')

In [113]:
events_df.columns

Index(['uuid', 'name', 'type', 'permalink', 'cb_url', 'rank', 'created_at',
       'updated_at', 'short_description', 'started_on', 'ended_on',
       'event_url', 'registration_url', 'venue_name', 'description',
       'country_code', 'state_code', 'region', 'city', 'logo_url',
       'event_roles'],
      dtype='object')

In [114]:
events_df.head(3)

,uuid,name,type,permalink,cb_url,rank,created_at,updated_at,short_description,started_on,...,event_url,registration_url,venue_name,description,country_code,state_code,region,city,logo_url,event_roles
0,6a21f93a-3cae-02ac-44c7-c166c0ed50fa,SF New Tech,event,sfnt-201272-san-francisco,https://www.crunchbase.com/event/sfnt-201272-s...,18739.0,2014-10-03 18:12:25,2018-02-13 01:14:28,"Join us on Wed, Oct 15th for another edition o...",2014-10-14,...,NaN,http://1015sfnt-meetup.eventbrite.com,RocketStudios,NaN,USA,CA,California,San Francisco,NaN,conference
1,135a927a-b238-037e-50e2-d3a2e3511ed2,Adobe MAX 2014,event,adobe-max-2014104-los-angeles,https://www.crunchbase.com/event/adobe-max-201...,8883.0,2014-10-03 18:14:15,2018-02-13 01:14:24,"Sessions, labs, and creativity workshops where...",2014-10-04,...,NaN,http://max.adobe.com/registration/,Los Angeles Convention Center,NaN,USA,CA,California,Los Angeles,https://res.cloudinary.com/crunchbase-producti...,conference
2,c6006d9f-e796-2a2a-2efc-c4e55caa98f8,ad:tech New York,event,ad-tech-new-york-2014105-new-york,https://www.crunchbase.com/event/ad-tech-new-y...,8346.0,2014-10-03 18:40:03,2018-02-13 01:14:23,ad:tech New York will showcase keynote speaker...,2014-10-05,...,NaN,http://ad-tech.com/ny/registration,Javits Center,NaN,USA,NY,New York,New York,https://res.cloudinary.com/crunchbase-producti...,conference

In [115]:
events_df_v1 = events_df.drop (columns = ['type', 'permalink', 'cb_url', 'rank', 'created_at',
       'updated_at','event_url', 'registration_url', 'venue_name','logo_url'])

In [116]:
events_df_v1.rename(columns = {'uuid':'event_uuid'},inplace=True)

In [117]:
events_df_v1.columns

Index(['event_uuid', 'name', 'short_description', 'started_on', 'ended_on',
       'description', 'country_code', 'state_code', 'region', 'city',
       'event_roles'],
      dtype='object')

In [118]:
events_df_v1.isnull().sum(axis=0)

event_uuid               0
name                     0
short_description        0
started_on               0
ended_on                 0
description           5762
country_code          2427
state_code           11515
region                2427
city                  2427
event_roles              0
dtype: int64

In [119]:
#save preprocessed file
events_df_v1.to_csv(R"d:/msc-project/data/pre-processed/events_preprocessed.csv",encoding='utf-8',index=False)

# Event Appearances

In [120]:
#import event_appearances.csv
event_appear_df = pd.read_csv(R"d:/msc-project/data/bulk_export_122020/event_appearances.csv",encoding='utf-8')

In [121]:
event_appear_df.columns

Index(['uuid', 'name', 'type', 'permalink', 'cb_url', 'rank', 'created_at',
       'updated_at', 'event_uuid', 'event_name', 'participant_uuid',
       'participant_name', 'participant_type', 'appearance_type',
       'short_description'],
      dtype='object')

In [122]:
event_appear_df.head(3)

,uuid,name,type,permalink,cb_url,rank,created_at,updated_at,event_uuid,event_name,participant_uuid,participant_name,participant_type,appearance_type,short_description
0,30c4023d-b694-4704-97d7-cd99cd06ecce,Adobe MAX 2014's sponsor - CDW Corporation,event_appearance,cdw-corporation-sponsor-adobe-max-2014104-los-...,https://www.crunchbase.com/event_appearance/cd...,NaN,2014-10-03 18:21:26,2018-02-13 01:16:54,135a927a-b238-037e-50e2-d3a2e3511ed2,Adobe MAX 2014,ae883a31-3739-7eb9-4ce0-463ee070ed79,CDW Corporation,organization,sponsor,NaN
1,dffe0542-3dac-4228-a997-3eed42cbd67e,Adobe MAX 2014's sponsor - Microsoft,event_appearance,microsoft-sponsor-adobe-max-2014104-los-angele...,https://www.crunchbase.com/event_appearance/mi...,NaN,2014-10-03 18:21:42,2018-02-13 01:16:21,135a927a-b238-037e-50e2-d3a2e3511ed2,Adobe MAX 2014,fd80725f-53fc-7009-9878-aeecf1e9ffbb,Microsoft,organization,sponsor,NaN
2,21884e6c-d097-4c54-8513-10536a0ea60d,Adobe MAX 2014's sponsor - Twitter,event_appearance,twitter-sponsor-adobe-max-2014104-los-angeles-...,https://www.crunchbase.com/event_appearance/tw...,NaN,2014-10-03 18:21:55,2018-02-13 01:16:23,135a927a-b238-037e-50e2-d3a2e3511ed2,Adobe MAX 2014,5da6106f-0d27-0d37-e9d7-dcfeccc1f709,Twitter,organization,sponsor,NaN

In [123]:
#drop unecessary columns
event_appear_df_v1 = event_appear_df.drop (columns = ['permalink', 'cb_url', 'rank', 'created_at',
       'updated_at'])

In [124]:
event_appear_df_v1.columns

Index(['uuid', 'name', 'type', 'event_uuid', 'event_name', 'participant_uuid',
       'participant_name', 'participant_type', 'appearance_type',
       'short_description'],
      dtype='object')

In [125]:
event_appear_df_v1.participant_type.unique()

array(['organization', 'person'], dtype=object)

In [126]:
event_appear_df_v1.appearance_type.unique()

array(['sponsor', 'speaker', 'organizer', 'exhibitor', 'contestant'],
      dtype=object)

In [127]:
event_appear_df_v1.rename(columns={'uuid':'event_appear_uuid','name':'event_appear_name'},inplace=True)

In [128]:
event_appear_df_v1.isnull().sum(axis=0)

event_appear_uuid         0
event_appear_name         0
type                      0
event_uuid                0
event_name                0
participant_uuid          0
participant_name          0
participant_type          0
appearance_type           0
short_description    359559
dtype: int64

In [129]:
#save preprocessed file
event_appear_df_v1.to_csv(R"d:/msc-project/data/pre-processed/event_appearances_preprocessed.csv",encoding='utf-8',index=False)

# People

In [130]:
#import people.csv
people_df = pd.read_csv(R"d:/msc-project/data/bulk_export_122020/people.csv",encoding='utf-8')

In [131]:
people_df.columns

Index(['uuid', 'name', 'type', 'permalink', 'cb_url', 'rank', 'created_at',
       'updated_at', 'first_name', 'last_name', 'gender', 'country_code',
       'state_code', 'region', 'city', 'featured_job_organization_uuid',
       'featured_job_organization_name', 'featured_job_title', 'facebook_url',
       'linkedin_url', 'twitter_url', 'logo_url'],
      dtype='object')

In [132]:
#drop unecessary column
people_df_v1 = people_df.drop(columns = ['type', 'permalink', 'cb_url', 'rank', 'created_at',
       'updated_at'])

In [133]:
people_df_v1.columns

Index(['uuid', 'name', 'first_name', 'last_name', 'gender', 'country_code',
       'state_code', 'region', 'city', 'featured_job_organization_uuid',
       'featured_job_organization_name', 'featured_job_title', 'facebook_url',
       'linkedin_url', 'twitter_url', 'logo_url'],
      dtype='object')

In [134]:
#change column name
people_df_v1.rename (columns = {'uuid':'people_uuid','name':'people_name','featured_job_organization_uuid':'org_uuid'},inplace=True)

In [135]:
people_df_v1.head(3)

,people_uuid,people_name,first_name,last_name,gender,country_code,state_code,region,city,org_uuid,featured_job_organization_name,featured_job_title,facebook_url,linkedin_url,twitter_url,logo_url
0,ed13cd36-fe2b-3707-197b-0c2d56e37a71,Ben Elowitz,Ben,Elowitz,male,USA,WA,Washington,Seattle,cf253887-5eac-21a2-28d3-47db7311f7e9,Madrona Venture Group,Managing Director,http://www.facebook.com/elowitz,https://www.linkedin.com/in/elowitz/,http://twitter.com/elowitz,https://res.cloudinary.com/crunchbase-producti...
1,5ceca97b-493c-1446-6249-5aaa33464763,Kevin Flaherty,Kevin,Flaherty,male,NaN,NaN,NaN,NaN,789e5e4d-0c90-d06e-92a0-b800b461c3da,DRSmedia,Team Member,NaN,http://www.linkedin.com/in/kevinflaherty,https://twitter.com/tallkp,https://res.cloudinary.com/crunchbase-producti...
2,9f99a98a-aa97-b30b-0d36-db67c1d277e0,Raju Vegesna,Raju,Vegesna,male,USA,CA,California,San Francisco,bf4d7b0e-b34d-2fd8-d292-6049c4f7efc7,Zoho,Chief Evangelist,NaN,https://www.linkedin.com/pub/raju-vegesna/1/65...,NaN,https://res.cloudinary.com/crunchbase-producti...

In [136]:
#Check number of NA value
people_df_v1.isnull().sum(axis=0)

people_uuid                             0
people_name                             0
first_name                             31
last_name                              30
gender                              21326
country_code                       481302
state_code                         781037
region                             526030
city                               542070
org_uuid                           424214
featured_job_organization_name     424215
featured_job_title                 424228
facebook_url                      1004027
linkedin_url                       465506
twitter_url                        905142
logo_url                           287433
dtype: int64

In [137]:
people_df_v2 = people_df_v1.dropna(subset=['gender','org_uuid'])

In [138]:
len(people_df_v2)

673352

In [139]:
len(people_df)

1099621

# People Description

In [140]:
#import people.csv
people_desc_df = pd.read_csv(R"d:/msc-project/data/bulk_export_122020/people_descriptions.csv",encoding='utf-8')

In [141]:
people_desc_df.columns

Index(['uuid', 'name', 'type', 'permalink', 'cb_url', 'rank', 'created_at',
       'updated_at', 'description'],
      dtype='object')

In [142]:
#drop unecessary columns
people_desc_df_v1 = people_desc_df.drop (columns=['name', 'type', 'permalink', 'cb_url', 'rank', 'created_at',
       'updated_at'])

In [143]:
people_desc_df_v1.columns

Index(['uuid', 'description'], dtype='object')

In [144]:
#change column name
people_desc_df_v1.rename(columns = {'uuid':'people_uuid'},inplace=True)

In [145]:
#check NA
people_desc_df_v1.isnull().sum(axis=0)

people_uuid     0
description    12
dtype: int64

In [146]:
#drop data with NA
people_desc_df_v2 = people_desc_df_v1.dropna (subset=['description'])

In [147]:
#merge with main people data
main_people_df_v1 = pd.merge(people_df_v2,
                            people_desc_df_v2,
                            on='people_uuid',
                            how='left')

In [148]:
main_people_df_v1.columns

Index(['people_uuid', 'people_name', 'first_name', 'last_name', 'gender',
       'country_code', 'state_code', 'region', 'city', 'org_uuid',
       'featured_job_organization_name', 'featured_job_title', 'facebook_url',
       'linkedin_url', 'twitter_url', 'logo_url', 'description'],
      dtype='object')

In [149]:
len(people_df_v2)

673352

In [150]:
len(main_people_df_v1)

673352

In [151]:
#save preprocessed file
#people + people description
main_people_df_v1.to_csv(R"d:/msc-project/data/pre-processed/people_preprocessed.csv",encoding='utf-8',index=False)

# Degrees

In [152]:
#import degress.csv
deg_df = pd.read_csv(R"d:/msc-project/data/bulk_export_122020/degrees.csv",encoding='utf-8')

In [153]:
deg_df.columns

Index(['uuid', 'name', 'type', 'permalink', 'cb_url', 'rank', 'created_at',
       'updated_at', 'person_uuid', 'person_name', 'institution_uuid',
       'institution_name', 'degree_type', 'subject', 'started_on',
       'completed_on', 'is_completed'],
      dtype='object')

In [154]:
deg_df.head(2)

,uuid,name,type,permalink,cb_url,rank,created_at,updated_at,person_uuid,person_name,institution_uuid,institution_name,degree_type,subject,started_on,completed_on,is_completed
0,205fdfd1-ecac-aa43-262f-219f11755f67,MS Mass Communication @ Boston University,degree,NaN,NaN,NaN,2008-02-19 17:58:31,2018-02-13 01:40:03,4897dba9-3141-ecc0-2c4b-c9d844e6440f,John Green,1eab62d2-15d9-0db7-930f-2aa77d4688e1,Boston University,MS,Mass Communication,NaN,1992-01-01,True
1,1a2ac288-eb99-3318-fde5-1517bc168f51,"BA English, French @ Washington University in...",degree,NaN,NaN,NaN,2008-02-19 17:58:31,2018-02-13 01:39:57,4897dba9-3141-ecc0-2c4b-c9d844e6440f,John Green,6ae9957a-8fb4-0ab1-73fa-dd547c4d3da4,Washington University in St. Louis,BA,"English, French",NaN,1990-01-01,True

In [155]:
#drop uncessary columns
deg_df_v1 = deg_df.drop(columns = ['type', 'permalink', 'cb_url', 'rank', 'created_at',
       'updated_at'])

In [156]:
deg_df_v1.columns

Index(['uuid', 'name', 'person_uuid', 'person_name', 'institution_uuid',
       'institution_name', 'degree_type', 'subject', 'started_on',
       'completed_on', 'is_completed'],
      dtype='object')

In [157]:
#change column name
deg_df_v1.rename(columns = {'uuid':'deg_uuid','name':'deg_name','person_uuid':'people_uuid'},inplace=True)

In [158]:
deg_df_v1.columns

Index(['deg_uuid', 'deg_name', 'people_uuid', 'person_name',
       'institution_uuid', 'institution_name', 'degree_type', 'subject',
       'started_on', 'completed_on', 'is_completed'],
      dtype='object')

In [159]:
deg_df_v1.replace(to_replace='unknown',value='NaN',inplace=True)
deg_df_v1.replace(to_replace='Unknown',value='NaN',inplace=True)
deg_df_v1.isnull().sum(axis=0)

deg_uuid                 0
deg_name             30043
people_uuid              0
person_name              0
institution_uuid         0
institution_name         0
degree_type          11767
subject              27049
started_on          221885
completed_on        169164
is_completed             0
dtype: int64

In [160]:
deg_df_v2 = deg_df_v1[deg_df_v1.is_completed]

In [161]:
#drop degree with no degree type and subject
deg_df_v3 = deg_df_v2.dropna(subset=['degree_type','subject'])

In [162]:
deg_df_v3.isnull().sum(axis=0)

deg_uuid                0
deg_name                0
people_uuid             0
person_name             0
institution_uuid        0
institution_name        0
degree_type             0
subject                 0
started_on          54801
completed_on            0
is_completed            0
dtype: int64

In [163]:
len(deg_df)

369516

In [164]:
len(deg_df_v3)

186941

In [187]:
#classify degree type by one hot encode for bachelor, masters, and phd
is_bachelor = list ()
is_master = list ()
is_phd = list ()

for deg in list (deg_df_v3.degree_type):
    deg = re.sub('[^A-Za-z]+', '', str(deg).lower())
    
    if deg == '':
        is_bachelor.append (0)
        is_master.append(0)
        is_phd.append(0)
    
    elif deg[0] == 'b' or 'bachelor' in deg or 'bsc' in deg: 
        is_bachelor.append (1)
        is_master.append(0)
        is_phd.append(0)
    
    elif deg[0] == 'm' or 'master' in deg or 'msc' in deg:
        is_master.append(1)
        is_bachelor.append (0)
        is_phd.append(0)
    
    elif 'phd' in deg or 'doctor' in deg:
        is_phd.append(1)
        is_bachelor.append (0)
        is_master.append(0)
    
    else:
        is_bachelor.append (0)
        is_master.append(0)
        is_phd.append(0)
    
deg_df_v3['is_bachelor'] = is_bachelor
deg_df_v3['is_master'] = is_master
deg_df_v3['is_phd'] = is_phd

C:\Users\Abdul Rahim Ab Ghani\miniconda3\lib\site-packages\ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Abdul Rahim Ab Ghani\miniconda3\lib\site-packages\ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Abdul Rahim Ab Ghani\miniconda3\lib\site-packages\ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [166]:
deg_df_v3.columns

Index(['deg_uuid', 'deg_name', 'people_uuid', 'person_name',
       'institution_uuid', 'institution_name', 'degree_type', 'subject',
       'started_on', 'completed_on', 'is_completed', 'is_bachelor',
       'is_master', 'is_phd'],
      dtype='object')

In [167]:
len(deg_df)

369516

In [168]:
len(deg_df_v3)

186941

In [188]:
list(deg_df_v3.is_bachelor).count(1)

87800

In [189]:
list(deg_df_v3.is_master).count(1)

59649

In [190]:
list(deg_df_v3.is_phd).count(1)

11118

In [194]:
len(deg_df_v3[(deg_df_v3.is_bachelor == 0) & (deg_df_v3.is_master == 0) & (deg_df_v3.is_phd == 0)].degree_type.unique())

3894

In [169]:
#save preprocessed file
deg_df_v3.to_csv(R"d:/msc-project/data/pre-processed/degrees_preprocessed.csv",encoding='utf-8',index=False)

# Jobs

In [170]:
#import jobs.csv
jobs_df = pd.read_csv(R"d:/msc-project/data/bulk_export_122020/jobs.csv",encoding='utf-8')

In [171]:
jobs_df.columns

Index(['uuid', 'name', 'type', 'permalink', 'cb_url', 'rank', 'created_at',
       'updated_at', 'person_uuid', 'person_name', 'org_uuid', 'org_name',
       'started_on', 'ended_on', 'is_current', 'title', 'job_type'],
      dtype='object')

In [172]:
jobs_df.head(1)

,uuid,name,type,permalink,cb_url,rank,created_at,updated_at,person_uuid,person_name,org_uuid,org_name,started_on,ended_on,is_current,title,job_type
0,697b6934-fc1f-9d63-cfb2-1a10759b378e,Ben Elowitz Co-Founder/CEO/Board of Directors ...,job,ben-elowitz-executive-wetpaint--697b6934,https://www.crunchbase.com/job/ben-elowitz-exe...,NaN,2007-05-25 07:03:54,2018-02-13 01:26:54,ed13cd36-fe2b-3707-197b-0c2d56e37a71,Ben Elowitz,e1393508-30ea-8a36-3f96-dd3226033abd,Wetpaint,NaN,NaN,False,Co-Founder/CEO/Board of Directors,executive

In [173]:
#drop unecessary columns
jobs_df_v1 = jobs_df.drop(columns=['type', 'permalink', 'cb_url', 'rank', 'created_at',
       'updated_at'])

In [174]:
jobs_df_v1.columns

Index(['uuid', 'name', 'person_uuid', 'person_name', 'org_uuid', 'org_name',
       'started_on', 'ended_on', 'is_current', 'title', 'job_type'],
      dtype='object')

In [175]:
#change columns name
jobs_df_v1.rename(columns={'uuid':'job_uuid','name':'job_name','person_uuid':'people_uuid'},inplace=True)

In [176]:
jobs_df_v1.columns

Index(['job_uuid', 'job_name', 'people_uuid', 'person_name', 'org_uuid',
       'org_name', 'started_on', 'ended_on', 'is_current', 'title',
       'job_type'],
      dtype='object')

In [177]:
jobs_df_v1.head(3)

,job_uuid,job_name,people_uuid,person_name,org_uuid,org_name,started_on,ended_on,is_current,title,job_type
0,697b6934-fc1f-9d63-cfb2-1a10759b378e,Ben Elowitz Co-Founder/CEO/Board of Directors ...,ed13cd36-fe2b-3707-197b-0c2d56e37a71,Ben Elowitz,e1393508-30ea-8a36-3f96-dd3226033abd,Wetpaint,NaN,NaN,False,Co-Founder/CEO/Board of Directors,executive
1,b1de3765-442e-b556-9304-551c2a055901,Kevin Flaherty VP Marketing @ Wetpaint,5ceca97b-493c-1446-6249-5aaa33464763,Kevin Flaherty,e1393508-30ea-8a36-3f96-dd3226033abd,Wetpaint,NaN,NaN,False,VP Marketing,executive
2,1319cd30-f5e8-c700-0af6-64029c6f7124,Raju Vegesna Chief Evangelist @ Zoho,9f99a98a-aa97-b30b-0d36-db67c1d277e0,Raju Vegesna,bf4d7b0e-b34d-2fd8-d292-6049c4f7efc7,Zoho,2000-11-01,NaN,True,Chief Evangelist,employee

In [178]:
len(jobs_df)

1581722

In [179]:
jobs_df_v1.isnull().sum(axis=0)

job_uuid             0
job_name             0
people_uuid          0
person_name          0
org_uuid             0
org_name             4
started_on      797881
ended_on       1288569
is_current           0
title               81
job_type             0
dtype: int64

In [180]:
#drop null in job_title
jobs_df_v2 = jobs_df_v1.dropna(subset=['title'])

In [181]:
jobs_df_v2.columns

Index(['job_uuid', 'job_name', 'people_uuid', 'person_name', 'org_uuid',
       'org_name', 'started_on', 'ended_on', 'is_current', 'title',
       'job_type'],
      dtype='object')

In [182]:
#create founder column, 1 for founder role, 0 for non founder role
is_founder = list()

for title in list(jobs_df_v2.title):
    if 'founder' in str(title).lower():
        is_founder.append(1)
    else:
        is_founder.append(0)
        
jobs_df_v2['is_founder'] = is_founder

C:\Users\Abdul Rahim Ab Ghani\miniconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [183]:
jobs_df_v2.columns

Index(['job_uuid', 'job_name', 'people_uuid', 'person_name', 'org_uuid',
       'org_name', 'started_on', 'ended_on', 'is_current', 'title', 'job_type',
       'is_founder'],
      dtype='object')

In [184]:
len(jobs_df)

1581722

In [185]:
len(jobs_df_v2)

1581641

In [195]:
jobs_df_v2.is_founder.sum()

332569

In [196]:
len(jobs_df_v2.org_uuid.unique())

437075

In [186]:
#save file
jobs_df_v2.to_csv(R"d:/msc-project/data/pre-processed/jobs_preprocessed.csv",encoding='utf-8',index=False)